html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  text-decoration-line: underline;
  padding: 20px 10px;
}

a {
  color: seashell;
}

.logo {
  display: flex;
  align-items: center;
  max-height: 50px;
  opacity: .9;
  padding: 10px 10px;
  flex-grow: 1;
}

.logo img {
  margin-right: 10px;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
  background-color: black;
}


body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
}


.container {
  font-family: Helvetica;
  z-index: 2;
  color: seashell;
  font-weight: bold;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  flex: auto 1 1200px;
  width: 1200px;
  margin: 0 auto 78px auto;
  text-align: center;
  justify-content: center;
}

.mission {
  display: flex;
background-image: url(../images/img-mission-background.jpg);
height: 700px;
padding-top: 70px;
}

.mission-content {
display: block;
align-self: center;
width: 100%;
padding 0.5rem;
}

.teas {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tea-content {
display: block;
text-align: center;
width: 100%;
padding 0.5rem;
}

.types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#fall {
  padding: 10px;
}

.locations {
display: flex;
flex-direction: column;
color: seashell;
justify-content: center;
background-image: url(../images/img-locations-background.jpg);
height: 500px;
}

#locations h2 {
display: flex;
flex-direction: column;
color: seashell;
justify-content: center;
margin: 0;
width: 100%;
background-color: inherit;
}

.locations-content {
display: inline;
flex-direction: row;
flex-wrap: nowrap;
position: relative;
align-self: center;
opacity: 1;
width: 85%;
margin: 15px 20px 15px 20px;
padding 0.5rem;
}

#locations h3 {
    padding: 20px 0 20px 0;
}

#locations h4 {
    padding: 20px 0 20px 0;
    font-weight: normal;
}

#downtown {
    position:absolute;
    top:0px;
    left:0px;
    margin-right: 15px;
    width: 300px;
    height: 300px;
    }

#bayside{
    width: 300px;
    height: 300px;
    top: 0px;
    margin: 0px auto;
}

#oakdale {
    position:absolute;
    height: 300px;
    top:0px;
    right:0px;
    width: 300px;
    margin-left: 15px;
    }

.contact {
  font-weight: bold;
  text-align: center;
  height: 200px;
}

.footer h5 {
  color: seashell;
  font-family: Helvetica;
  margin-left: 20px;
  text-align: left;
  }
